<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of account</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> Account_type: <%=account.Account_type%>
      <br> Account_no: <%=account.Account_no%>
      <br> Account_name: <%=account.Account_name%>
      <hr>
      
      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/account/delete/<%= account._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>