<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="name">Account_type</label>
      <input type="text" class="form-control" id="Account_type" name="Account_type" value="<%= account.Account_type %>" required>
    </div>

    <div class="form-group">
      <label for="Account_no">Account_no</label>
      <input type="text" class="form-control" id="Account_no" name="Account_no" value="<%= account.Account_no %>">
    </div>

    <div class="form-group">
      <label for="Account_name">Account_name</label>
      <input type="text" class="form-control" id="Account_name" name="Account_name" value="<%= account.Account_name %>" required>
    </div>
  </div>
</div>


<!-- PUT CLIENT SIDE CODE HERE -->
<script>  

  // function toCurrency(amount) 
  // https://gist.github.com/kylefox/780065
  function toCurrency(amount) {
    return "$" + amount.toFixed(2);
  };

  // function toCurrencyInt(amount) 
  function toCurrencyInt(amount) {
    return "$" + amount.toFixed(0);
  };

  // Add  .toCurrency() method to all Numbers
  Number.prototype.toCurrency = function () {
    return toCurrency(this);
  };

  // Add  .toCurrencyInt() method to all Numbers
  Number.prototype.toCurrencyInt = function () {
    return toCurrencyInt(this);
  };

  function onFormChange() {
    const val = parseFloat($("input[name=Account_name]").val());
    let price = 75
    if (val == 1) {
      price = 100
    }
    $("#Account_name").html(price.toCurrencyInt());
  }

  // window.onload = a function that will call all update functions to display calculated values
  window.onload = function () {
    onFormChange();
  }

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>