<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <hr>
      <h3>On the hosted Heroku web app, test your api here. </h3>
      <br>
       <h2>User - Sammy Fields</h2>
      <h4>Requests to GET User JSON Data</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/findall">https://dry-hollows-28936.herokuapp.com/user/findall</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/findone/101">https://dry-hollows-28936.herokuapp.com/user/findone/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/findone/102">https://dry-hollows-28936.herokuapp.com/user/findone/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/findone/103">https://dry-hollows-28936.herokuapp.com/user/findone/103</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/findone/104">https://dry-hollows-28936.herokuapp.com/user/findone/104</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET User views</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user">https://dry-hollows-28936.herokuapp.com/user</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/create">https://dry-hollows-28936.herokuapp.com/user/create</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/edit/101">https://dry-hollows-28936.herokuapp.com/user/edit/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/edit/102">https://dry-hollows-28936.herokuapp.com/user/edit/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/edit/103">https://dry-hollows-28936.herokuapp.com/user/edit/103</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/delete/101">https://dry-hollows-28936.herokuapp.com/user/delete/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/delete/102">https://dry-hollows-28936.herokuapp.com/user/delete/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/delete/103">https://dry-hollows-28936.herokuapp.com/user/delete/103</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/details/101">https://dry-hollows-28936.herokuapp.com/user/details/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/details/102">https://dry-hollows-28936.herokuapp.com/user/details/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/user/details/103">https://dry-hollows-28936.herokuapp.com/user/details/103</a>
        </li>
       </ol>
      <h2>Account - Harsha Vardhan Reddy</h2>
      <h4>Requests to GET Account JSON Data</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/findall">https://dry-hollows-28936.herokuapp.com/account/findall</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/findone/101">https://dry-hollows-28936.herokuapp.com/account/findone/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/findone/104">https://dry-hollows-28936.herokuapp.com/account/findone/104</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/findone/102">https://dry-hollows-28936.herokuapp.com/account/findone/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/findone/103">https://dry-hollows-28936.herokuapp.com/account/findone/103</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET Account views</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account">https://dry-hollows-28936.herokuapp.com/account</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/create">https://dry-hollows-28936.herokuapp.com/account/create</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/edit/101">https://dry-hollows-28936.herokuapp.com/account/edit/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/edit/102">https://dry-hollows-28936.herokuapp.com/account/edit/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/edit/103">https://dry-hollows-28936.herokuapp.com/account/edit/103</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/delete/101">https://dry-hollows-28936.herokuapp.com/account/delete/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/delete/102">https://dry-hollows-28936.herokuapp.com/account/delete/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/delete/103">https://dry-hollows-28936.herokuapp.com/account/delete/103</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/details/101">https://dry-hollows-28936.herokuapp.com/account/details/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/details/102">https://dry-hollows-28936.herokuapp.com/account/details/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/account/details/103">https://dry-hollows-28936.herokuapp.com/account/details/103</a>
        </li>

      </ol>
      <br>
      <h2>Transaction - Sushma Rani Reddy Aleti</h2>
      <h4>Requests to GET Transaction JSON Data</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/findall">https://dry-hollows-28936.herokuapp.com/transaction/findall</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/findone/104">https://dry-hollows-28936.herokuapp.com/transaction/findone/104</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/findone/101">https://dry-hollows-28936.herokuapp.com/transaction/findone/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/findone/102">https://dry-hollows-28936.herokuapp.com/transaction/findone/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/findone/103">https://dry-hollows-28936.herokuapp.com/transaction/findone/103</a>
        </li>
      </ol>
      
      <h4>Requests to GET Transaction views</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction">https://dry-hollows-28936.herokuapp.com/transaction</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/create">https://dry-hollows-28936.herokuapp.com/transaction/create</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/edit/101">https://dry-hollows-28936.herokuapp.com/transaction/edit/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/edit/102">https://dry-hollows-28936.herokuapp.com/transaction/edit/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/edit/103">https://dry-hollows-28936.herokuapp.com/transaction/edit/103</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/delete/101">https://dry-hollows-28936.herokuapp.com/transaction/delete/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/delete/102">https://dry-hollows-28936.herokuapp.com/transaction/delete/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/delete/103">https://dry-hollows-28936.herokuapp.com/transaction/delete/103</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/details/101">https://dry-hollows-28936.herokuapp.com/transaction/details/101</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/details/102">https://dry-hollows-28936.herokuapp.com/transaction/details/102</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/transaction/details/103">https://dry-hollows-28936.herokuapp.com/transaction/details/103</a>
        </li>

      </ol>
      <br>
      <h2>Category - Nandini Yadav Janga</h2>
      <h4>Requests to GET Category JSON Data</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/findall">https://dry-hollows-28936.herokuapp.com/category/findall</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/findone/1001">https://dry-hollows-28936.herokuapp.com/category/findone/1001</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/findone/1002">https://dry-hollows-28936.herokuapp.com/category/findone/1002</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/findone/1003">https://dry-hollows-28936.herokuapp.com/category/findone/1003</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/findone/1004">https://dry-hollows-28936.herokuapp.com/category/findone/1004</a>
        </li>
      </ol>
      
      <h4>Requests to GET Category views</h4>
      <ol>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category">https://dry-hollows-28936.herokuapp.com/category</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/create">https://dry-hollows-28936.herokuapp.com/category/create</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/edit/1001">https://dry-hollows-28936.herokuapp.com/category/edit/1001</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/edit/1002">https://dry-hollows-28936.herokuapp.com/category/edit/1002</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/edit/1003">https://dry-hollows-28936.herokuapp.com/category/edit/1003</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/delete/1001">https://dry-hollows-28936.herokuapp.com/category/delete/1001</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/delete/1002">https://dry-hollows-28936.herokuapp.com/category/delete/1002</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/delete/1003">https://dry-hollows-28936.herokuapp.com/category/delete/1003</a>
        </li>

        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/details/1001">https://dry-hollows-28936.herokuapp.com/category/details/1001</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/details/1002">https://dry-hollows-28936.herokuapp.com/category/details/1002</a>
        </li>
        <li> <a href="https://dry-hollows-28936.herokuapp.com/category/details/1003">https://dry-hollows-28936.herokuapp.com/category/details/1003</a>
        </li>

      </ol>

      <h3>During development, test your api here. </h3>
      <br>
       <h2>User - Sammy Fields</h2>
      <h4>Requests to GET User JSON Data</h4>
      <ol>
        <li> <a href="http://localhost:8089/user/findall">http://localhost:8089/user/findall</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/101">http://localhost:8089/user/findone/101</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/102">http://localhost:8089/user/findone/102</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/103">http://localhost:8089/user/findone/103</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/104">http://localhost:8089/user/findone/104</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET User views</h4>
      <ol>
        <li> <a href="http://localhost:8089/user">http://localhost:8089/user</a>
        </li>
        <li> <a href="http://localhost:8089/user/create">http://localhost:8089/user/create</a>
        </li>

        <li> <a href="http://localhost:8089/user/edit/101">http://localhost:8089/user/edit/101</a>
        </li>
        <li> <a href="http://localhost:8089/user/edit/102">http://localhost:8089/user/edit/102</a>
        </li>
        <li> <a href="http://localhost:8089/user/edit/103">http://localhost:8089/user/edit/103</a>
        </li>

        <li> <a href="http://localhost:8089/user/delete/101">http://localhost:8089/user/delete/101</a>
        </li>
        <li> <a href="http://localhost:8089/user/delete/102">http://localhost:8089/user/delete/102</a>
        </li>
        <li> <a href="http://localhost:8089/user/delete/103">http://localhost:8089/user/delete/103</a>
        </li>

        <li> <a href="http://localhost:8089/user/details/101">http://localhost:8089/user/details/101</a>
        </li>
        <li> <a href="http://localhost:8089/user/details/102">http://localhost:8089/user/details/102</a>
        </li>
        <li> <a href="http://localhost:8089/user/details/103">http://localhost:8089/user/details/103</a>
        </li>
       </ol>
      <h2>Account - Harsha Vardhan Reddy</h2>
      <h4>Requests to GET Account JSON Data</h4>
      <ol>
        <li> <a href="http://localhost:8089/account/findall">http://localhost:8089/account/findall</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/101">http://localhost:8089/account/findone/101</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/104">http://localhost:8089/account/findone/104</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/102">http://localhost:8089/account/findone/102</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/103">http://localhost:8089/account/findone/103</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET Account views</h4>
      <ol>
        <li> <a href="http://localhost:8089/account">http://localhost:8089/account</a>
        </li>
        <li> <a href="http://localhost:8089/account/create">http://localhost:8089/account/create</a>
        </li>

        <li> <a href="http://localhost:8089/account/edit/101">http://localhost:8089/account/edit/101</a>
        </li>
        <li> <a href="http://localhost:8089/account/edit/102">http://localhost:8089/account/edit/102</a>
        </li>
        <li> <a href="http://localhost:8089/account/edit/103">http://localhost:8089/account/edit/103</a>
        </li>

        <li> <a href="http://localhost:8089/account/delete/101">http://localhost:8089/account/delete/101</a>
        </li>
        <li> <a href="http://localhost:8089/account/delete/102">http://localhost:8089/account/delete/102</a>
        </li>
        <li> <a href="http://localhost:8089/account/delete/103">http://localhost:8089/account/delete/103</a>
        </li>

        <li> <a href="http://localhost:8089/account/details/101">http://localhost:8089/account/details/101</a>
        </li>
        <li> <a href="http://localhost:8089/account/details/102">http://localhost:8089/account/details/102</a>
        </li>
        <li> <a href="http://localhost:8089/account/details/103">http://localhost:8089/account/details/103</a>
        </li>

      </ol>
      <br>
      <h2>Transaction - Sushma Rani Reddy Aleti</h2>
      <h4>Requests to GET Transaction JSON Data</h4>
      <ol>
        <li> <a href="http://localhost:8089/transaction/findall">http://localhost:8089/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/104">http://localhost:8089/transaction/findone/104</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/101">http://localhost:8089/transaction/findone/101</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/102">http://localhost:8089/transaction/findone/102</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/103">http://localhost:8089/transaction/findone/103</a>
        </li>
      </ol>
      
      <h4>Requests to GET Transaction views</h4>
      <ol>
        <li> <a href="http://localhost:8089/transaction">http://localhost:8089/transaction</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/create">http://localhost:8089/transaction/create</a>
        </li>

        <li> <a href="http://localhost:8089/transaction/edit/101">http://localhost:8089/transaction/edit/101</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/edit/102">http://localhost:8089/transaction/edit/102</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/edit/103">http://localhost:8089/transaction/edit/103</a>
        </li>

        <li> <a href="http://localhost:8089/transaction/delete/101">http://localhost:8089/transaction/delete/101</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/delete/102">http://localhost:8089/transaction/delete/102</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/delete/103">http://localhost:8089/transaction/delete/103</a>
        </li>

        <li> <a href="http://localhost:8089/transaction/details/101">http://localhost:8089/transaction/details/101</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/details/102">http://localhost:8089/transaction/details/102</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/details/103">http://localhost:8089/transaction/details/103</a>
        </li>

      </ol>
      <br>
      <h2>Category - Nandini Yadav Janga</h2>
      <h4>Requests to GET Category JSON Data</h4>
      <ol>
        <li> <a href="http://localhost:8089/category/findall">http://localhost:8089/category/findall</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1001">http://localhost:8089/category/findone/1001</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1002">http://localhost:8089/category/findone/1002</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1003">http://localhost:8089/category/findone/1003</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1004">http://localhost:8089/category/findone/1004</a>
        </li>
      </ol>
      
      <h4>Requests to GET Category views</h4>
      <ol>
        <li> <a href="http://localhost:8089/category">http://localhost:8089/category</a>
        </li>
        <li> <a href="http://localhost:8089/category/create">http://localhost:8089/category/create</a>
        </li>

        <li> <a href="http://localhost:8089/category/edit/1001">http://localhost:8089/category/edit/1001</a>
        </li>
        <li> <a href="http://localhost:8089/category/edit/1002">http://localhost:8089/category/edit/1002</a>
        </li>
        <li> <a href="http://localhost:8089/category/edit/1003">http://localhost:8089/category/edit/1003</a>
        </li>

        <li> <a href="http://localhost:8089/category/delete/1001">http://localhost:8089/category/delete/1001</a>
        </li>
        <li> <a href="http://localhost:8089/category/delete/1002">http://localhost:8089/category/delete/1002</a>
        </li>
        <li> <a href="http://localhost:8089/category/delete/1003">http://localhost:8089/category/delete/1003</a>
        </li>

        <li> <a href="http://localhost:8089/category/details/1001">http://localhost:8089/category/details/1001</a>
        </li>
        <li> <a href="http://localhost:8089/category/details/1002">http://localhost:8089/category/details/1002</a>
        </li>
        <li> <a href="http://localhost:8089/category/details/1003">http://localhost:8089/category/details/1003</a>
        </li>

      </ol>
    </div>
  </div>
</div>