<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Category details</h2>
      <br>
      <br> ID: <%=  category._id %>
      <br> categoryID: <%=category.categoryID%>
      <br> categoryType: <%=category.categoryType%>
      <br> categoryAmount: <%=category.categoryAmount%>
      <hr>

      <form method="get" action="/category">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>