<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>User Details</h2>
      <br>
      <br> ID: <%=  user._id %>
      <br> Name: <%=user.name%>
      <br> email: <%=user.email%>
      <br> Birth Date: <%=user.birthDate%>
      <br> Account Number: <%=user.accountNumber%>
      <br> Balance: <%=user.balance%>
      <hr>

      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>