<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of Transaction</h2>
      <br>
      <br> ID: <%=transaction._id%>
      <br> TYPE: <%=transaction.transaction_type%>
      <br> DATE: <%=transaction.transaction_date%>
      <br> AMOUNT: <%=transaction.transaction_amount%>
      <hr>
      
      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/transaction/delete/<%= transaction._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>