<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>transaction details</h2>
      <br>
      <br> ID: <%=transaction._id%>
      <br> TYPE: <%=transaction.transaction_type%>
      <br> DATE: <%=transaction.transaction_date%>
      <br> AMOUNT: <%=transaction.transaction_amount%>
      <hr>

      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>