<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="transaction/create" class="btn btn-primary new">
        Create a new transaction
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= transactions.query.length %> transactions.
        <br>
      </p>
      <% for (var i = transactions.query.length-1; i >= 0; i--) {   
        transaction = transactions.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=transaction._id%>
          <br> Type: <%=transaction.transaction_type%>
          <br> Date: <%=transaction.transaction_date%>
          <br> Amount: <%=transaction.transaction_amount%>
          <hr>
          <a href="/transaction/delete/<%= transaction._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/transaction/details/<%= transaction._id %>" class="btn btn-info"> Details </a>
          <a href="/transaction/edit/<%= transaction._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>