<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1> Harsha Vardhan Reddy Nallavolu </h1>
      <h2><a href="https://www.linkedin.com/in/harsha-vardhan-reddy-nallavolu-3b8448179">About Me</a></h2>
      <br>
      <br>
    </div>
  </div>
</div>